
$background-color: #add2e4;
$header-background: #d673b7;
$table-background: #ec95d1;
$button-color: #d673b7;
$disabled-color: #8f8f8f;
$text-color: #fe9610;

$black: #003331;
$gray: #e5aed1;
$white: #f3eeff;

$first-color: #3aff00;
$color: #aa418d;
$third-color: #fe9610