@import "src/styles/constatnts";

.customTooltip {
  background-color: $header-background;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: left;

  &__text {
    font-size: 14px;
    margin: 0 4px !important;
    color: $white;

    & > * {

    }
  }
}


