.excelImportComponent {
  width: 100%;
  height: calc(100% - 80px);
  border: 1px solid #1f191c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__container {
    width: 100%;
    height: 70%;

    &_fullHeight {
      height: 100%;
    }
  }

  &__title {
    font-size: 24px;
    text-align: left;
  }

  &__table {
    height: calc(100% - 100px) !important;
    background-color: #f0c1d6;

    & {
      div {
        &::-webkit-scrollbar {
          width: 8px;
          background-color: #b3b3b3;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          width: 6px;
          border-radius: 8px;
          background-color: #c6307c;
        }
      }
    }
  }

  @keyframes textSizeChange {
    0% {
      font-size: 2.5rem;
      opacity: 0.4;
    }

    50% {
      font-size: 3rem;
      opacity: 1;
    }

    100% {
      font-size: 2.5rem;
      opacity: 0.4;
    }
  }

  &__text {
    font-size: 3rem;
    user-select: none;
    animation: textSizeChange 2s infinite cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &__input {
    display: none;
  }

  &__drop-zone {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
